/*******************Global Classes********************/
/*******************Global Classes********************/

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: clip;
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: "Epilogue", serif;
  text-align: center;
  position: relative;
  scroll-padding: 120px;
}

:root {
  --primary-gradient: linear-gradient(135deg, #1c1c1c 0%, #2c3e50 100%);
  --accent-color: #3498db;
  --text-light: #f8f9fa;
}

:root {
  --container-width: 95%;
  --columns: 3;
  --gap: 20px;
  --gap-2: 30px;
  --columns-2: 2;
}

/*******************Global Gradient********************/
/*******************Global Gradient********************/

.global-gradient-text {
  background: linear-gradient(to right, #ffffff, #00b894);

  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.nav-ul li a.global-gradient-navlink {
  background: linear-gradient(to right, #ffffff, #00b894);
  color: transparent;
  background-clip: text;
}

.nav-ul li a.global-gradient-navlink-borderbottom::before {
  transform: scaleX(1);
}

.global-gradient-buttonbg {
  background: linear-gradient(to right, #72928b, #00b894);
  box-shadow:
    inset 0 1px 1px rgba(176, 224, 230, 0.3),
    0 0 15px rgba(76, 80, 184, 0.4);
}

/*******************Back-to-top Button********************/
/*******************Back-to-top Button********************/

.btt-container {
  position: fixed;
  bottom: 70px;
  right: 45px;
  z-index: 2000;
  width: 50px;
  aspect-ratio: 1/1;
  padding: 10px;
  background-image: url("media/backgrounds/idk_2.png");
  background-size: cover;
  border-radius: 50%;
  display: flex;
  opacity: 0;
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  visibility: hidden;
}

.btt-container img {
  width: 100%;
}

.btt-container.show {
  opacity: 1;
  cursor: pointer;
  visibility: visible;
}

.btt-container:hover {
  transform: scale(1.1);
}

/************************************ Navbar Section *************************************/
/************************************ Navbar Section *************************************/

.nav-overall {
  top: -1px;
  z-index: 1000;
  position: sticky;
  width: 100%;
}

.nav-overall::before {
  content: "";
  position: absolute;
  inset: -2px;
  background-image: url("media/backgrounds/idk_2.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.navbar {
  color: azure;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
  transition:
    box-shadow 0.3s ease-in-out,
    border-bottom-color 0.3s ease-in-out;
  overflow: visible !important;
}

.navbar.smooth-bottom {
  border-bottom-color: rgba(255, 255, 255, 0.096);
  box-shadow: 0 3px 20px 0 rgba(255, 255, 255, 0.1);
}

.brand-name {
  text-decoration: none;
  font-weight: 400;
  font-size: 30px;
}

.brand-name img {
  width: 25px;
}

.hamburger {
  display: none;
}

.nav-ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 35px;
}

.nav-ul li a {
  text-decoration: none;
  font-weight: 400;
  color: white;
  transition: color 0.3s ease-in-out;
  position: relative;
  padding-bottom: 2px;
  font-size: 18px;
}

.nav-ul li a:hover {
  background: linear-gradient(to right, #ffffff, #00b894);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.nav-ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
  background: linear-gradient(to right, #ffffff, #00b894);
  height: 2px;
}

/************************************ Hero Section *************************************/
/************************************ Hero Section *************************************/

.hero {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 50px 20px 80px 20px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .hero-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero .container {
  min-height: 100%;
}

.hero .container .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* padding-right: 20px;
  box-sizing: border-box; */
}

.hero-content h1 {
  font-weight: bold;
  text-align: left;
  font-size: clamp(48px, 3.5vw, 60px) !important;
  padding-right: 15px;
}

.hero-content .sub-title {
  text-align: left;
  color: rgb(146, 145, 145);
  font-size: clamp(0.9rem, 1.5vw, 1rem);
  margin: 15px 0 30px 0;
  padding-right: 100px;
}

.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  border-radius: 15px;
}

.hero-image-container img {
  width: clamp(250px, 30vw, 380px);
  aspect-ratio: 1/1;
  border-radius: 20px;
  box-shadow:
    inset 0 1px 1px rgba(176, 224, 230, 0.3),
    0 0 35px rgba(76, 80, 184, 0.4);
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.hero .btn {
  color: white;
  padding: 13px 10px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 13px;
  width: clamp(140px, 15vw, 170px);
  font-size: clamp(14px, 1.5vw, 17px);
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
  border: 1px solid rgb(198, 198, 198);
}

.hero .btn:hover {
  transform: scale(1.1);
}

.page-wrapper {
  max-width: 1259px;
  max-width: clamp(1259px, 100vw, 1700px);
  margin: 0 auto;
}

/************************************ Skills Section *************************************/
/************************************ Skills Section *************************************/
.skills-section {
  padding: 90px 20px 60px 20px;
}

.mansory-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: var(--container-width);
  gap: var(--gap);
  overflow: hidden;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
}

.skills-section .skills-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #2c3e50;
  font-size: bolder;
}

.skill-box-wrapper {
  width: calc(
    (100% / var(--columns)) -
      (var(--gap) * (var(--columns) - 1) / var(--columns))
  );
  position: relative;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 20px;
  flex-shrink: 0;
}

.skill-box {
  border: 1px solid #2c3e50;
  padding: 20px 20px 0 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;
  background-color: white;
  box-sizing: border-box;
  flex-shrink: 0;
}

.skill-box-wrapper::before {
  content: "";
  inset: 0;
  position: absolute;
  left: -3px;
  bottom: -3px;
  opacity: 0;
  background: linear-gradient(to right, #a8a8a8, #00b894);

  border-radius: 15px;
  z-index: -1;
  transform: translateZ(-1px);
  transition:
    transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.skill-box-wrapper:hover::before {
  opacity: 1;
  transform: translate(-5px, 5px) translateZ(-1px);
}

.skill-box-wrapper:hover {
  transform: translate(5px, -5px);
}

.skill-box .skill-box-icon {
  width: 40px;
  aspect-ratio: 1/1;
  margin: 0 auto;
}

.skill-box .skill-box-icon img {
  width: 100%;
}

.skill-box h1 {
  font-size: 23px;
  margin: 0 auto;
  color: #2c3e50;
}

.skill-box .skill-box-lists {
  margin-top: 10px;
}

.skill-box .skill-box-lists ul {
  padding-left: 2px;
  display: flex;
  flex-direction: column;
}

.skill-box .skill-box-lists ul li {
  list-style: none;
  margin-bottom: 8px;
  text-align: left;
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.skill-box .skill-box-lists ul li .text {
  font-size: 14px;
  line-height: 1.5;
  color: #2c3e50;
}

.skill-box .skill-box-lists ul li .bullet {
  font-size: 25px;
  line-height: 1;
  flex-shrink: 0;
}

/************************************ Projects Section *************************************/
/************************************ Projects Section *************************************/
.projects-section {
  padding: 90px 20px 100px 20px;
  background-image: url(media/backgrounds/white_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.projects-section h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: #2c3e50;
}

.projects-container {
  max-width: clamp(1259px, 100vw, 1700px);
  margin: 0 auto !important;
  display: flex;
  justify-content: center;
}

.projects-container .mini {
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
}

.project-card {
  background-color: none;
  padding: 0 !important;
  width: 23%;
  flex-shrink: 0;
  position: relative;
}

.project-card .img-cont {
  width: 100%;
  height: 180px;
  border-radius: 15px;
  overflow: hidden;
}

.project-card .img-cont img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

.project-card .img-cont:hover img {
  transform: scale(1.1);
}

.project-card .description {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-card .description h3 {
  font-size: 20px;
  margin: 0;
  font-weight: 700;
  color: #2c3e50;
}

.project-card .description p {
  font-size: 14px;
  text-align: left;
  margin: 10px 0 20px 0 !important;
  padding-right: 15px;
  box-sizing: border-box;
  color: rgb(120, 120, 120);
  height: clamp(60px, 5vh, 100px);
}

.project-card .description .btn {
  padding: 6px 10px;
  font-weight: 500;
  color: white;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  /* background-image: url("media/backgrounds/idk_2.png"); */
  background: #2c3e50;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-card .description a:hover {
  transform: scale(1.1);
}

/************************************ About Section *************************************/
/************************************ About Section *************************************/

.about-section {
  padding: 110px 20px 100px 20px !important;
  color: #2c3e50;
  text-align: center;
}

.about-section h2 {
  font-size: 2.5rem;
  margin-bottom: 45px;
  text-transform: uppercase;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
  max-width: 1000px;
  margin: 0 auto;
}

.about-content .img-wrapper {
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  align-self: flex-start;
  position: relative;
  /* overflow: hidden; */
  position: relative;
}

.about-content .img-wrapper::before {
  content: "";
  position: absolute;
  left: -8px;
  bottom: -8px;
  width: 100%;
  height: 100%;
  background-color: #2c3e50;
  z-index: -1;
  border-radius: 50%;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

.about-text {
  max-width: 600px;
  text-align: left;
  line-height: 2;
  font-size: 1rem;
}

/************************************ Contact Section *************************************/
/************************************ Contact Section *************************************/
.contact-section {
  padding: 60px 20px;
  background-color: #f5f5f5;
  text-align: center;
}

.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #2c3e50;
  text-transform: uppercase;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #00b894;
  box-shadow: 0 0 0 2px rgba(0, 184, 148, 0.2);
}

.contact-form button {
  background-color: #00b894;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.contact-form .btn:hover {
  background-color: #019875;
}

.footer {
  font-size: 0.9rem;
  padding: 35px;
  color: #ddcece;
  background-color: #1c1c1c;
  text-align: center;
}

/************************************ Responsiveness Section *************************************/
/************************************ Responsiveness Section *************************************/

@media (min-width: 1600px) {
  .hero {
    min-height: 600px;
  }
}

@media (max-width: 1200px) {
  /******************* Hero Section ********************/
  .hero {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
  }

  .hero .hero-container {
    max-width: 95% !important;
    margin: 0 auto !important;
  }

  /******************* Skills Section ********************/
  .skill-box-wrapper {
    width: calc(
      (100% / var(--columns-2)) -
        (var(--gap-2) * (var(--columns-2) - 1) / var(--columns-2))
    );
  }

  /******************* Projects Section ********************/
  .projects-container .mini {
    gap: 40px !important;
    row-gap: 70px !important;
    column-gap: 30px !important;
  }

  .project-card {
    width: 45%;
    margin-bottom: 25px;
  }

  .project-card img {
    height: auto;
  }
}

@media (max-width: 968px) {
  .hero .hero-container {
    max-width: 99% !important;
    margin: 0 auto !important;
  }

  .nav-ul li a {
    font-size: 16px;
  }

  .mansory-container {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .hero {
    display: block;
  }

  /******************* Navbar Section ********************/

  .brand-name {
    font-size: 25px;
  }

  .hamburger {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
    color: #00b894;
    background: none;
    transition: color 0.3s ease;
  }

  /* slide-in-nav */
  .nav-ul {
    display: none;
    flex-direction: column;
    background-color: #d1d8be;
    position: absolute;
    top: 60px;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    right: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    gap: 15px;
  }

  .nav-ul.show {
    display: flex;
  }

  /******************* Hero Section ********************/

  .hero {
    padding: 70px 0 80px 0;
  }

  .hero .mini {
    gap: 70px;
  }

  .hero-content h1 {
    font-size: clamp(40px, 7vw, 48px) !important;
  }

  .hero-content .sub-title {
    font-size: clamp(14px, 2.5vw, 16px);
    margin-bottom: 35px;
    padding-right: 50px;
  }

  .hero-image-container img {
    width: clamp(200px, 45vw, 500px);
  }

  .hero .btn {
    width: clamp(100px, 25vw, 155px);
    font-size: clamp(13px, 2.5vw, 16px);
    padding: 10px 5px;
    font-weight: 500;
  }

  /******************* Skill-box Section ********************/

  .skill-box-wrapper {
    width: 80%;
  }

  .mansory-container {
    height: auto !important;
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .skills-section {
    padding: 90px 5px 60px 5px;
  }

  .skill-box-wrapper {
    width: 95%;
  }

  .project-card {
    width: 90%;
  }
}
