/*******************Global Classes********************/
/*******************Global Classes********************/

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: clip;
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: "Epilogue", serif;
  text-align: center;
  position: relative;
  scroll-padding: 120px;
  background-color: #010729;
}

:root {
  --primary-gradient: linear-gradient(135deg, #1c1c1c 0%, #2c3e50 100%);
  --accent-color: #3498db;
  --text-light: #f8f9fa;
}

:root {
  --container-width: 95%;
  --columns: 3;
  --gap: 20px;
  --gap-2: 30px;
  --columns-2: 2;
}

/*******************Global Gradient********************/
/*******************Global Gradient********************/

.global-gradient-text {
  background: linear-gradient(to right, #ffffff, #00b894);

  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.nav-ul li a.global-gradient-navlink {
  background: linear-gradient(to right, #ffffff, #00b894);
  color: transparent;
  background-clip: text;
}

.nav-ul li a.global-gradient-navlink-borderbottom::before {
  transform: scaleX(1);
}

.global-gradient-buttonbg {
  background: linear-gradient(to right, #72928b, #00b894);
  box-shadow:
    inset 0 1px 1px rgba(176, 224, 230, 0.3),
    0 0 15px rgba(76, 80, 184, 0.4);
}

/*******************Back-to-top Button********************/
/*******************Back-to-top Button********************/

.btt-container {
  position: fixed;
  bottom: 70px;
  right: 45px;
  z-index: 2000;
  width: 50px;
  aspect-ratio: 1/1;
  padding: 10px;
  background-image: url("media/backgrounds/idk_2.png");
  background-size: cover;
  border-radius: 50%;
  display: flex;
  opacity: 0;
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  visibility: hidden;
}

.btt-container img {
  width: 100%;
}

.btt-container.show {
  opacity: 1;
  cursor: pointer;
  visibility: visible;
}

/*******************SECTION TITLE STYLING ********************/
/*******************SECTION TITLE STYLING ********************/

.section-title {
  text-align: center;
  font-size: 45px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #2c3e50;
  font-weight: 700;
}

.section-brief-intro {
  text-align: center;
  color: #8b8a8a;
  margin-bottom: 40px;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 50px;
  max-width: 600px;
}

/************************************ Navbar Section *************************************/
/************************************ Navbar Section *************************************/

.nav-overall {
  top: -1px;
  z-index: 1000;
  position: sticky;
  width: 100%;
  transition:
    box-shadow 0.3s ease-in-out,
    border-bottom-color 0.3s ease-in-out;
  background-color: #010729;
}

.nav-overall.smooth-bottom {
  border-bottom-color: rgba(255, 255, 255, 0.096);
  box-shadow: 0 3px 20px 0 rgba(255, 255, 255, 0.1);
  /* box-shadow: 0 5px 10px rgb(49, 47, 47); */
}

.nav-overall.dark-border {
  box-shadow: 0 5px 10px rgb(49, 47, 47);
}

.nav-overall::before {
  content: "";
  position: absolute;
  inset: -2px;
  background-image: url("media/backgrounds/idk_2.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.navbar {
  color: azure;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
  overflow: visible !important;
}

.brand-name {
  text-decoration: none;
  font-weight: 400;
  font-size: 30px;
}

.brand-name img {
  width: 25px;
}

.hamburger {
  display: none;
}

.nav-ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 35px;
}

.nav-ul li a {
  text-decoration: none;
  font-weight: 400;
  color: white;
  transition: color 0.3s ease-in-out;
  position: relative;
  padding-bottom: 2px;
  font-size: 18px;
}

.nav-ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
  background: linear-gradient(to right, #ffffff, #00b894);
  height: 2px;
}

/************************************ Hero Section *************************************/
/************************************ Hero Section *************************************/

.hero {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 50px 20px 120px 20px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px rgb(49, 47, 47);
}

.hero .hero-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero .container {
  min-height: 100%;
}

.hero .container .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* padding-right: 20px;
  box-sizing: border-box; */
}

.hero-content h1 {
  font-weight: bold;
  text-align: left;
  font-size: clamp(48px, 3.5vw, 60px) !important;
  padding-right: 15px;
}

.hero-content .sub-title {
  text-align: left;
  color: rgb(146, 145, 145);
  font-size: clamp(0.9rem, 1.5vw, 1rem);
  margin: 15px 0 30px 0;
  padding-right: 100px;
}

.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  border-radius: 15px;
}

.hero-image-container img {
  width: clamp(250px, 30vw, 380px);
  aspect-ratio: 1/1;
  border-radius: 20px;
  box-shadow:
    inset 0 1px 1px rgba(176, 224, 230, 0.3),
    0 0 35px rgba(76, 80, 184, 0.4);
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.hero .btn {
  color: white;
  padding: 13px 10px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 13px;
  width: clamp(160px, 15vw, 180px);
  font-size: clamp(16px, 1.5vw, 18px);
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
  border: 1px solid rgb(198, 198, 198);
}

.page-wrapper {
  max-width: 1259px;
  max-width: clamp(1259px, 100vw, 1700px);
  margin: 0 auto;
  background: white;
}

.nav-p-w {
  background: none;
}

/************************************ Skills Section *************************************/
/************************************ Skills Section *************************************/

.skills-section {
  padding: 120px 20px 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 40px; */
  background-color: white;
}

.mansory-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90vw;
  max-width: 1400px;
  gap: var(--gap);
  overflow: hidden;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 15px;
}

.skill-box-wrapper {
  width: calc(
    (100% / var(--columns)) -
      (var(--gap) * (var(--columns) - 1) / var(--columns))
  );
  position: relative;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 20px;
  flex-shrink: 0;
  box-shadow: -5px 5px 10px rgba(49, 47, 47, 0.474);
  border-radius: 15px;
}

.skill-box-wrapper::before {
  content: "";
  inset: 0;
  position: absolute;
  left: -3px;
  bottom: -3px;
  opacity: 0;
  background: linear-gradient(to right, #a8a8a8, #00b894);
  border-radius: 15px;
  z-index: -1;
  transform: translateZ(-1px);
  transition:
    transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.skill-box {
  border: 1px solid #2c3e50;
  padding: 30px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;
  /* background-color: white; */
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
}

.skill-box .skill-background {
  position: absolute;
  z-index: 1;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.skill-box .skill-box-icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  /* padding: 20px; */
  border-radius: 50%;
  background-color: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
}

.skill-box .skill-box-icon img {
  width: 55%;
  height: 55%;
}

.skill-box h1 {
  /* font-size: 23px; */
  font-size: clamp(21px, 1.5vw, 23px);
  margin: 0 auto;
  color: #2c3e50;
  font-weight: 700;
  position: relative;
  z-index: 2;
}

.skill-box .skill-box-description {
  margin-top: 10px;
  line-height: 1.7;
  color: #6d6a6a;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  z-index: 2;
}

/************************************ Projects Section *************************************/
/************************************ Projects Section *************************************/
.projects-section {
  padding: 90px 20px 100px 20px;
  background-color: #f5f5f5;
  text-align: center;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container {
  max-width: 1280px;
  width: 95%;
  margin: 35px auto 0 auto !important;
  display: flex;
  justify-content: center;
}

.projects-container .mini {
  justify-content: center;
  row-gap: 20px;
  column-gap: clamp(10px, 2vw + 3px, 25px);
  flex-wrap: nowrap;
}

.project-card {
  background-color: none;
  padding: 0 !important;
  width: 23%;
  flex-shrink: 0;
  position: relative;
}

.project-card .img-cont {
  width: 100%;
  /* aspect-ratio: 1/1; */
  height: 180px;
  border-radius: 20px;
  overflow: hidden;
  /* border: 2px solid #2c3e50; */
  box-shadow: 0 5px 10px rgba(49, 47, 47, 0.474);
}

.project-card .img-cont img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

.project-card .description {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-card .description h3 {
  font-size: 23px;
  margin: 0;
  font-weight: 700;
  color: #2c3e50;
}

.project-card .description p {
  font-size: 16px;
  text-align: left;
  margin: 10px 0 20px 0 !important;
  padding-right: 15px;
  box-sizing: border-box;
  color: rgb(120, 120, 120);
  font-weight: 600;
  /* height: clamp(60px, 5vh, 100px); */
}

.project-card .description .btn {
  padding: 6px 10px;
  font-weight: 500;
  color: white;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  /* background-image: url("media/backgrounds/idk_2.png"); */
  background: #2c3e50;
  background-size: cover;
  background-repeat: no-repeat;
}

/************************************ About Section *************************************/
/************************************ About Section *************************************/

.about-section {
  padding: 110px 20px 170px 20px !important;
  color: #2c3e50;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section h2 {
  font-size: 2.5rem;
  /* margin-bottom: 45px; */
  text-transform: uppercase;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
  width: 90%;
  max-width: 1000px;
  align-items: stretch;
  margin: 30px auto 0 auto;
}

.about-content .overrall-image {
  align-items: flex-start;
}

.overrall-image {
  width: 40%;
  display: flex;
  justify-content: flex-start;
}

.about-content .img-wrapper {
  width: 250px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  align-self: flex-start;
  position: relative;
  border: 1px solid #2c3e50;
}

.about-content .img-wrapper::before {
  content: "";
  position: absolute;
  left: -8px;
  bottom: -8px;
  width: 100%;
  height: 100%;
  background-color: #2c3e50;
  z-index: 1;
  border-radius: 50%;
}

.about-content .img-wrapper .about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  align-self: start;
  position: relative;
  z-index: 3;
}

.about-content .about-text {
  width: 60%;
  max-width: 700px;
  text-align: left;
  line-height: 2;
  font-size: 1rem;
  font-weight: 600;
}

.about-content .about-text p {
  margin-bottom: 30px !important;
}

/************************************ Contact Section *************************************/
/************************************ Contact Section *************************************/
.contact-section {
  padding: 60px 20px 85px 20px;
  background-color: #f5f5f5;
  text-align: center;
  position: relative;
  border-top: 1px solid rgba(212, 212, 212, 0.571);
  z-index: 1;
}

.contact-section .contact-background {
  position: absolute;
  z-index: 2;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #2c3e50;
  text-transform: uppercase;
  z-index: 3;
}

.contact-section p {
  z-index: 3;
}

.contact-form {
  width: clamp(65%, 70vw, 85%) !important;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 3;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
  z-index: 3;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #00b894;
  box-shadow: 0 0 0 2px rgba(0, 184, 148, 0.2);
  z-index: 3;
}

.contact-form button {
  background-color: #00b894;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease-in-out;
  z-index: 3;
}

.footer {
  font-size: 0.9rem;
  padding: 35px;
  color: #ddcece;
  background-color: #010729;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media (hover: hover) and (pointer: fine) {
  .btt-container:hover {
    transform: scale(1.1);
    box-shadow:
      inset 0 1px 1px rgba(176, 224, 230, 0.3),
      0 0 35px rgba(76, 80, 184, 0.4);
  }

  .nav-ul li a:hover {
    background: linear-gradient(to right, #ffffff, #00b894);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .hero .btn:hover {
    transform: scale(1.1);
  }

  .footer .social-links {
    display: flex;
    justify-content: center;
    gap: 25px;
  }

  .footer .social-links img {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    /* background-color: #010729; */

    border: 1px solid rgba(212, 212, 212, 0.571);
    cursor: pointer;
  }

  /************************************ Responsiveness Section *************************************/
  /************************************ Responsiveness Section *************************************/

  .skill-box-wrapper:hover::before {
    opacity: 1;
    transform: translate(-5px, 5px) translateZ(-1px);
  }

  .skill-box-wrapper:hover {
    transform: translate(5px, -5px);
  }

  .project-card .img-cont:hover img {
    transform: scale(1.1);
  }

  .project-card .description a:hover {
    transform: scale(1.1);
  }

  .contact-form .btn:hover {
    background-color: #019875;
    color: white;
    transform: scale(1.1);
  }
}

@media (min-width: 1600px) {
  .hero {
    min-height: 600px;
  }
}

@media (max-width: 1200px) {
  /******************* Hero Section ********************/
  .hero {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 800px; */
    min-height: 80svh;
  }

  .hero .hero-container {
    max-width: 95% !important;
    margin: 0 auto !important;
  }

  /******************* Skills Section ********************/
  .mansory-container {
    width: 95vw;
  }
}

@media (max-width: 1100px) {
  .projects-container .mini {
    row-gap: 90px;

    width: 100%;
    column-gap: clamp(10px, 4vw + 4px, 45px);
    flex-wrap: wrap;
  }

  .project-card {
    width: 47%;
    margin-bottom: 25px;
  }

  .project-card img {
    height: auto;
  }

  .skill-box-wrapper {
    width: calc(
      (100% / var(--columns-2)) -
        (var(--gap-2) * (var(--columns-2) - 1) / var(--columns-2))
    );
  }
}

@media (max-width: 968px) {
  .hero .hero-container {
    max-width: 99% !important;
    margin: 0 auto !important;
  }

  .nav-ul li a {
    font-size: 16px;
  }

  .mansory-container {
    width: 100%;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-content .about-text {
    order: 1 !important;
    text-align: center;
    width: 100%;
    max-width: 850px;
  }

  .about-content .overrall-image {
    order: 2 !important;
    width: 100%;
  }

  .about-content .img-wrapper {
    margin: 0 auto;
    /* width: 80%; */
  }

  /* .btt-container {
    opacity: 0 !important;
    visibility: hidden !important;
  } */
}

@media (max-width: 767px) {
  .section-brief-intro {
    max-width: clamp(55%, 70vw, 70%);
    font-weight: 500;
  }

  .hero {
    display: block;
    min-height: 100vh;
  }

  /******************* Navbar Section ********************/

  .brand-name {
    font-size: 25px;
  }

  .hamburger {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
    color: #00b894;
    background: none;
    transition: color 0.3s ease;
  }

  /* slide-in-nav */
  .nav-ul {
    display: none;
    flex-direction: column;
    background-color: #d1d8be;
    position: absolute;
    top: 60px;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    right: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    gap: 15px;
  }

  .nav-ul.show {
    display: flex;
  }

  /******************* Hero Section ********************/

  .hero {
    padding: 70px 0 80px 0;
  }

  .hero .hero-container {
    max-width: 90% !important;
    margin: 0 auto !important;
  }

  .hero .mini {
    gap: 70px;
  }

  .hero-content h1 {
    font-size: clamp(45px, 7vw, 50px) !important;
    padding-right: 0;
  }

  .hero-content .sub-title {
    font-size: clamp(15px, 2.5vw, 17px);
    margin-bottom: 35px;
    padding-right: 50px;
    font-weight: 700;
  }

  .hero-image-container img {
    margin-top: 25px;
    width: 100%;
    aspect-ratio: 1/1;
  }

  .hero .btn {
    width: clamp(135px, 25vw, 160px);
    font-size: clamp(15px, 2.5vw, 17px);
    padding: 10px 5px;
    font-weight: 500;
  }

  /******************* Skill-box Section ********************/

  .skill-box-wrapper {
    width: 100%;
  }

  .mansory-container {
    height: auto !important;
    flex-wrap: nowrap;
    align-items: center;
  }

  .projects-container {
    width: 100%;
  }

  .contact-form {
    width: clamp(65%, 85vw, 95%) !important;
  }
}

@media (max-width: 720px) {
  .section-title {
    font-size: clamp(35px, 6vw, 45px);
  }

  .my-skills {
    font-weight: 600 !important;
  }

  .section-brief-intro {
    max-width: clamp(55%, 85vw, 90%);
    font-weight: 500;
  }

  .skill-box .skill-box-description {
    font-weight: 600;
  }

  .skill-box h1 {
    /* font-size: 23px; */
    font-size: 23px;
  }

  .projects-container {
    /* width: 90%; */
    width: clamp(85%, 87vw, 100%);
  }

  .project-card {
    width: 100%;
    margin-bottom: 10px;
  }

  .about-content .about-text {
    width: 95%;
  }
}

@media (max-width: 576px) {
  .skills-section {
    padding: 90px 5px 60px 5px;
  }

  .skill-box-wrapper {
    width: 95%;
  }

  .about-content .about-text {
    width: 100%;
  }

  .contact-form {
    width: clamp(65%, 95vw, 100%) !important;
  }
}
